<div class="container">
    <div class="card">
        <h1>{{book.title}}</h1>
        <h3>by {{book.author}} - Rating: {{book.rating}}</h3>
        <p>{{book.description}}</p>
        <a href="/book-list">Go back Home</a>
    </div>
</div>